@page "/calc"
<h1>Calculator</h1>

<div>
    
        <p>Result: @Result</p>

        <button class="btn btn-primary" @onclick="Start">Start</button>

        <p>Error = <pre>@Error</pre></p>
    
</div>